<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Monitor</title>
    <style>
        #progress {
            margin-bottom: 10px;
            font-size: 20px;
        }
        .error {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>Progress Monitor</h1>
<form id="nameForm">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Iniciar</button>
</form>
<div id="progress"></div>

<script>
    document.getElementById('nameForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const name = document.getElementById('name').value;
        fetch(`http://localhost:8080/hola/${name}`, { method: 'POST' }) // Enviar el nombre al backend
            .then(response => response.text())
            .then(requestId => {
                const eventSource = new EventSource(`http://localhost:8080/progress/${requestId}`); // Suscribirse a los eventos de SSE
                eventSource.onmessage = function(event) {
                    const mensaje = JSON.parse(event.data); // Parsear el mensaje como JSON
                    if (mensaje.estado === 'error') {
                        document.getElementById('progress').innerHTML = `<div class="error">Error: ${mensaje.mensaje}%</div>`; // Mostrar el mensaje de error en rojo y en negrita
                        eventSource.close(); // Cerrar la conexión de SSE cuando se recibe un error
                    } else if (mensaje.estado === 'success') {
                        document.getElementById('progress').innerText = mensaje.mensaje; // Mostrar el mensaje de éxito
                        eventSource.close(); // Cerrar la conexión de SSE cuando se recibe un mensaje de éxito
                    } else {
                        document.getElementById('progress').innerText = `Progreso: ${mensaje.mensaje}%`; // Mostrar el mensaje de progreso con porcentaje
                    }
                };
            })
            .catch(error => console.error('Error:', error));
    });
</script>
</body>
</html>
